.strech:hover {
  box-shadow: 6px 6px 12px #525252, -6px -6px 12px #ffffff;
}
.card-text {
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.strech {
  border-radius: 8px;
  border: 0px;
  background: #cccccc;
}
